@import '../../static/scss/colors'; 

$breakpoint-tablet: 1024px;

.hero{
  width: 100vw;
  height: 800px;
}

.avatar{
  border-color: $demmer-red;
}

.blade{
  height: 420px;
}

.blade-screen{
  max-width: 100vw;
  height: auto;
}

@media (max-width: $breakpoint-tablet) {

  .blade{
    height: 100%;
  }
  
}