.sticky {
  position: sticky;
  top: 0;
  z-index: 100; /* this is optional and should be different for every project */
}

.sticky-wrapper {
  position: relative;
  z-index: 1200;
  height: 4rem; 
}

.sticky .sticky-inner {
  position: fixed;
  top: 94px;
  left: 0;
  right: 0;
  z-index: 1;
  width: 100vw;
  background-color: #FAFAFA;
}

@media (max-width: 768px) {

  .sticky-wrapper {
    height: 6rem;
  }

  
  .sticky .sticky-inner {
    top: 0px;
  }
}