@import 'colors';
a:focus {
  outline: none;
}

button:focus {
  outline: none;
}

body{
  color: $black;
}
.demmer-red {
  color: $demmer-red;
}

.demmer-red-h2 {
  h2{
    color: $demmer-red;
  }
}

.background-red {
  background: $light-red;
}

.planfu-orange {
  h2{
    color: $planfu-orange;
  }
}

.athlinks-blue{
  h2{
    color: $athlinks-blue;
  }
}

.readytalk-green{
  h2{
    color: $readytalk-green;
  }
}

.mmf-blue{
  h2{
    color: $mmf-blue;
  }
}

.rally-red{
  h2{
    color: $rally-red;
  }
}
